.header{
    display: flex;
    margin: 0 48px 0 48px;
    justify-content: space-between;
    padding-top: 28px;
}

@media screen and (max-width: 800px){
    .header{
        margin: 0 24px 0 24px;
    }
}

@media screen and (max-width: 410px){
    .header{
        padding-top: 16px;
        margin: 0 16px 0 16px;
    }
}