.footer__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 18px;
    transition: opacity 0.1s linear;
    margin-right: 14px;
  }
  
  .footer__link:hover {
    opacity: 0.8;
  }
  
  .footer__link:last-child {
    margin-right: 0;
  }
  
  @media screen and (max-width: 685px) {
    .footer__link {
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  @media screen and (max-width: 685px) {
    .footer__link:last-child {
      margin-bottom: 48px;
    }
  }